html {
  text-align: center;
  background-image: url(https://images.pexels.com/photos/6432494/pexels-photo-6432494.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #41aed7;
}

button {
  margin: 10px;
  font-family: 'Zen Dots', cursive;
}

h1, h2, h3 {
  font-family: 'Zen Dots', cursive;
}

p {
  font-family: 'Inconsolata', monospace;
}

textarea {
  background-color: rgb(255, 255, 134);
  border-width: 0px;
}
